@{
    ViewBag.Title = "主页";
}

<div class="jumbotron">
    <h1>认证上网系统</h1>
    <p class="lead">欢迎使用此 WiFi。我们提供高达 30Mb 的带宽总量，让您享受高质量的上网体验。</p>
    <p>@Html.ActionLink("查看我的账户状态", "Index", "Manage", null, new { @class = "btn btn-primary btn-lg" }) </p>
</div>