@{
    ViewBag.Title = "认证成功";
}

<h2>@ViewBag.Title</h2>
<p>现在可以上网了。</p>
@if (ViewBag.ShowFinishButton)
{
    <a href="@ViewBag.ReturnUrl" class="btn btn-primary">完成</a>
}
else
{
    <a id="closebutton" class="btn btn-primary">关闭本窗口</a>
}

@section scripts {
    @Scripts.Render("~/bundles/buttonscripts")
}
